<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<div class="bloglistwidget" style="background:url(/static/images/about2.jpg) no-repeat right bottom white">
<div style="margin-top:0px;margin-bottom:0px;margin-bottom:30px;">
<h3 style="padding-top:5px;line-height:0px;font-family:Microsoft YaHei;">关于</h3>
</div>
<blockquote>
<div style="font-size:16px;font-family:Microsoft YaHei;">
<p>欢迎，请坐。<br />这里是PhanTask搭建和维护的个人博客，主要用于记录与分享一些技术文章和经验笔记等，偶尔也会记录些生活向的内容。使用站内搜索、分类栏和标签能够方便你查找博客中的内容。
<p style="font-size:12px;"><s>页面上方的Openlayers请随意调戏，只是为了时时提醒自己是一名GISer。</s></p>
<br />
</div>
<div>
<p>联系我：</p>
<ul>
   <li>微博：<a href="http://weibo.com/2270846815">PhanTask</a></li>
   <li>邮箱：rox0723@sina.cn</li>
</ul>
</div>
</blockquote>
<br />
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />
若无特殊声明，本站内容均遵循CC BY-SA 4.0协议<br />
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>